div{
    background-color: gray;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
}

.pequeno{
    padding: 10px;
}

.medio{
    padding: 20px;
}

.grande{
    padding: 30px;
}